<h1>List of ratings</h1>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-lg-3">
      <h2>Best beers</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Beer</th>
          <th>Average</th>
        </tr>
        </thead>
        <tbody>
        <% @best_beers.each do |beer| %>
          <tr>
            <td><%= beer.name %></td>
            <td><%= round(beer.average_rating) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <h2>Best breweries</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Beer</th>
          <th>Average</th>
        </tr>
        </thead>
        <tbody>
        <% @best_beers.each do |beer| %>
          <tr>
            <td><%= beer.name %></td>
            <td><%= round(beer.average_rating) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3">
      <h2>Best styles</h2>
      <table class="table">
        <thead>
        <tr>
          <th>Style</th>
          <th>Average</th>
        </tr>
        </thead>
        <tbody>
        <% @best_styles.each do |style| %>
          <tr>
            <td><%= style.name %></td>
            <td><%= round(style.average_rating) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<h2>Most active users </h2>
<ol>
  <% @most_active_users.each do |user| %>
    <li>
      <%= user.username %>
      <%= pluralize(user.ratings.count, 'rating') %>
    </li>
  <% end %>
</ol>

<h2>Ratings </h2>
<div>
  <% if @order == "desc" %>
    <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
</svg>'), ratings_path(page: @page, order: "asc") %>
  <% else %>
    <%= link_to raw('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
</svg>'), ratings_path(page: @page, order: "desc") %>
  <% end %>

  <% unless @page == 1 %>
    <%= link_to "<<< Previous page", ratings_path(page: @page - 1, order: @order) %>
  <% end %>
  <% unless @page == @last_page %>
    <%= link_to "Next page >>>", ratings_path(page: @page + 1, order: @order) %>
  <% end %>
</div>
<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= rating.to_s %>
      <%= rating.created_at %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "New rating", new_rating_path, class: 'btn btn-primary' %>
</p>