<%= turbo_frame_tag "#{type}_breweries_tag" do %>
  <h2><%= type.capitalize %></h2>

  <p> Number of <%= type %> breweries:
    <span id=<%= "#{type}_breweries_count" %>>
      <%= render "brewery_count", count: breweries.count %></span>
  </p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Founded</th>
      <th>Beers</th>
      <th>Rating</th>
    </tr>
    </thead>
    <tbody id="<%= type %>_brewery_rows">
    <% breweries.each do |brewery| %>
      <%= render "brewery_row", brewery: brewery %>
    <% end %>
    </tbody>
  </table>
<% end %>